@import "../../assets/base/styles/base.less";

.link {
    &__line {
        stroke-width: 1px;
    }
}

.node {
    cursor: pointer;

    &__text {
        text-anchor: middle;
        alignment-baseline: central;
        font-weight: 300;
        fill: @color-font-dark;
    }
}

.visualization-panel__canvas-graph {
    position: absolute;
    pointer-events: none;
}

.visualization-panel {
    display: flex;

    &.dark-theme {
        background-color: @color-font-light;
        background-image: linear-gradient(315deg, @background-primary-dark 0%, @background-primary-dark 74%);
        & .link {
            &__line {
                stroke: @color-font-light;
            }
        }
    }

    &.light-theme {
        background-color: @color-font-dark;
        background-image: linear-gradient(315deg, @background-primary-light 0%, @background-primary-light 74%);
        & .link {
            &__line {
                stroke: @color-font-dark;
            }
        }
    }
}
