<div class="svg">
    <svg #svg [attr.width]="_options.width" [attr.height]="_options.height">
        <g [zoomableOf]="svg" class="panel">
            <g *ngFor="let link of links">
                <line
                    [attr.x1]="link.source.x"
                    [attr.y1]="link.source.y"
                    [attr.x2]="link.target.x"
                    [attr.y2]="link.target.y"
                    stroke="black">
                </line>
            </g>
            <g *ngFor="let node of nodes">
                <g [attr.transform]="'translate(' + node.x + ',' + node.y + ')'">
                    <circle class="node"
                            [attr.fill]="node.color"
                            cx="0"
                            cy="0"
                            [attr.r]="node.r"
                    />
                    <text
                        class="node__text"
                        [attr.font-size]="node.fontSize"
                    >{{node.id}}</text>
                </g>
            </g>
        </g>
    </svg>
</div>



