<div class="visualization-panel"
    [ngClass]="isSwitchTheme ? 'dark-theme' : 'light-theme'">
    <svg #svg
         [attr.width]="_options.width"
         [attr.height]="_options.height"
         class="visualization-panel__svg-graph">
        <g [zoomAbleOf]="svg" class="svg-graph">
            <g #link
                *ngFor="let link of links"
                class="svg-graph__link">
                <line [class.active]="link.source.id === this.activeNodeID || link.target.id === this.activeNodeID" class="link__line"
                      [attr.stroke-width] ="link.width"
                    [attr.x1]="link.source.x"
                    [attr.y1]="link.source.y"
                    [attr.x2]="link.target.x"
                    [attr.y2]="link.target.y"
                >
                </line>
            </g>
            <g #node
                *ngFor="let node of nodes"
               [draggableNode]="node"
               [draggableInGraph]="graph"
               class="svg-graph__node">
                <g class="node"
                   [attr.transform]="'translate(' + node.x + ',' + node.y + ')'"
                   (mouseover)="active(node.id)"
                   (mouseout)="active('')"
                >
                    <circle class="node__svg"
                            cx="0"
                            cy="0"
                            [attr.fill]="node.color"
                            [attr.r]="node.r"
                    />
                    <text
                        class="node__text"
                        [attr.font-size]="node.fontSize"
                    >{{node.id}}</text>
                </g>
            </g>
        </g>
    </svg>
</div>
