@import "../base.less";

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 10vh;
    transition: 500ms;
    & .image-info, .image-message {
        position: fixed;

        bottom: @indent-tiny;
        width: @size-image-small;
        height: @size-image-small;
        background-size: @size-image-small @size-image-small;

        cursor: pointer;
    }
    &-notation {
        position: fixed;

        bottom: 0;
        left: 20px;
        margin: @indent-medium;
        width: @size-image-small;
        height: @size-image-small;

        .font-medium-medium();
        &:hover {
            position: fixed;

            bottom: 60px;
            left: 60px;
            width: 250px;
            height: 200px;
            box-shadow: 0 4px 12px @color-shadow-grey;
            border-radius: 5px;
            padding: 20px;
            margin: 30px;
            &:before {
                content: "This is visualization graph";
            }

        }
    }
    & .image-info {
        left: 20px;
        -webkit-mask-image: url("../../images/info.svg");
        mask-image: url("../../images/info.svg");
    }
    & .image-message {
        right: 20px;
        -webkit-mask-image: url("../../images/message.svg");
        mask-image: url("../../images/message.svg");
    }
}
