@import "../base.less";

.visualization-form {
    width: 100%;

    position: absolute;
    top: 40px;
    &__svg {
        position: relative;
        left: 50px;
        width: calc(100% - 100px);
        .svg-g {
            fill: @color-shadow-dark;

            &:hover {
                fill: @color-alarm;

                .svg-text {
                    content: "ssa";
                    border: 1px solid black;
                }
            }
        }
    }

    input[type='range'] {
        position: absolute;
        left: 50px;
        top: -20px;
        overflow: hidden;
        width: calc(100% - 100px);
        -webkit-appearance: none;
        background-color: @color-shadow-dark;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: @color-font-light;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0@color-shadow-dark;
        transition: background .3s ease-in-out;
    }

    input[type=range]::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }


}
